flask
flask-cors
google-generativeai
python-dotenv
requests

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

pyzbar
Pillow>=10.0.0
pdf2image>=1.16.3
pymupdf